<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('layoults/head') %>
</head>

<body>
    <div class="container">
        <%- include('layoults/nav') %>

            <h1>
                Aboult
            </h1>

            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Adipisci quia eligendi ratione. Suscipit nemo commodi aut facere optio at cum quod porro? Laudantium saepe sunt quis voluptatibus ipsam ullam at?</p>



    </div>

    <%- include('layoults/script') %>
</body>

</html>