<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('layoults/head') %>
</head>

<body>
    <div class="container-fluid">
        <%- include('layoults/nav') %>

        
    </div>

    <%- include('layoults/script') %>
</body>

</html>