<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('layoults/head') %>
</head>

<body>
    <div class="container">
        <%- include('layoults/nav') %>

            <div class="card mt-2">
                <div class="card-header">
                    Nota
                </div>
                <div class="card-body">
                    <h5 class="card-title">Title</h5>
                    <p class="card-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Tenetur laborum ipsum
                        aliquam rem non quo accusantium quia! Magnam excepturi architecto ab repellat culpa cumque, non,
                        beatae, dolores necessitatibus rerum neque.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>



    </div>

    <%- include('layoults/script') %>
</body>

</html>